
.nav-content {
    padding:30px 50px 0;
    width: 100%;
    top: 0;
    /*height: 100%;*/
    position: absolute;
    /*background: rgb(8, 25, 40);*/
    /*box-sizing: border-box;*/
    /*border: 1px solid rgb(21,193,227);*/
    /*min-width: 820px;*/
    display: inline-block;
}
.disabled_span{
    width: 26%;
    display: inline-block;
}
/*����ҳ���Ҳ�������ʽ��ʼ*/
.md-table{
    text-align: center;
    border-collapse: separate;
    empty-cells: show;
    border-spacing: 0;
    height: auto;
    margin-bottom: 0;
}
.table.md-table.table-bordered.table.warn_info_table th{
    border:none;
}
.md-table tr:nth-child(even){
    /*background:url("../img/cbms-img/gray-4.png") repeat;*/
}
.md-table tr:nth-child(odd){
    /*background:url("../img/cbms-img/gray-2.png") repeat;*/
}
#interface-set .table-bordered{
    margin-bottom: 40px;
    height: initial;
}
.table-bordered{
    border: none;
    display: block;
    width: 100%;
    height: 100%;
}
.table-bordered>tbody>tr>td{
    border:none;
}
.left-nav{
    float: left; margin-top: 2px;
    /*margin-left:0.2%;*/
    min-width: 215px;
}
.nav-pills>li>a{
    border-radius: 5px;
    color: #ffffff;
    /*background: rgb(102,161,204);*/
    height: 50px;
    width: 125px;
}
.nav-pills>li:nth-child(even) a{
    /*background: url("../img/cbms-img/gray-2.png") repeat;*/
}
/*.nav-pills>li:nth-child(odd) a{*/
    /*background: url("../img/cbms-img/gray-1.png") repeat;*/
/*}*/
.nav-pills>li.active>a{
    background: #337AB7;
}
.nav-pills>li>a:hover{
    /*background: rgba(0,0,0,0.5);*/
    /*color: #ffffff;*/
}
/*********************************************************/
/*.left-nav li{*/
    /*height: 40px;*/
    /*border-radius: 0;*/
/*}*/
/**********************************************************/
.tab_content_1 {
    position: absolute;
    top: 50px;
    width: 100%;
    bottom: 52px;
}
.tab_content_2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.right-content{
    /*width: 84%;*/
}
.right-content .md-table tr td{
    white-space: nowrap;
    height: 40px;
    color: #ffffff;
    padding:0;
    line-height: 40px;
    width:16.66%;
    max-height: 45px;
}
.config-content{
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 100px;
    left: 300px;
}


.right-bottom,.right-top{
    /*background: url("../img/cbms-img/gray-4.png") repeat;*/
    height: 50px;
    line-height:50px;
    color: #ffffff;
    bottom: 0;

    /*margin-left: 2px;*/
}
.right-bottom{
    position: fixed;
    text-align: right;
    margin-bottom: 62px;
    margin-left: 2px;
    left: 307px;
    right: 0;
}
/*.right-top li:nth-child(1){*/
    /*background: url("../img/cbms-img/topo-nav/receive.png") no-repeat right;*/
/*}*/
/*.right-top li:nth-child(2){*/
    /*background: url("../img/cbms-img/topo-nav/alert_inactive.png") no-repeat right;*/
/*}*/
/*.right-top li:nth-child(3){*/
    /*background: url("../img/cbms-img/topo-nav/collections_inactive.png") no-repeat right;*/
/*}*/
/*.right-top li:nth-child(4){*/
    /*background: url("../img/cbms-img/topo-nav/agreement_inactive.png") no-repeat right;*/
/*}*/
/*.right-top li:nth-child(5){*/
    /*background: url("../img/cbms-img/topo-nav/collector_inactive.png") no-repeat right;*/
/*}*/
.right-top{
    min-width:260px;
    text-align: left;
    position: absolute;
    left: calc(50% - 640px);
    top: calc(50% - 250px - 50px);
    width: auto;
    height: 50px;
}
.right-icon-div{
    width: 60px;
    /* position: absolute; */
    right: 1px;
    cursor: pointer;
    height: 40px;
}
.right-top .num{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #c2c2c2;
    border-radius: 50%;
    line-height: 23px;
    text-align: center;
    font-size: 14px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    margin-left: 10px;
}

/**************************************************/
/*.right-top .num:first-child{*/
    /*margin-left: 20px;*/
/*}*/
/****************************************************/

.right-icon-span{
    width: 10%;
}
.right-icon{
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: url("../img/cbms-img/gray-6.png");
}
.right-icon:last-child{
    position: relative;
    /*left: 2%;*/
}
.right-icon1{
    width: auto;
    background: none;
    line-height: 40px;
}
.right-icon1:last-child{
    position: relative;
    left: 0;
}
.right-icon:hover{
     background: url("../img/cbms-img/gray-2.png");
 }

.right-bottom span,.right-top span{
    display: inline-block;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 16px;
}


/*modefied by LiYinHuan on 2012-12-2��********************************************/
.left-nav li{
    height: 40px;
    border-radius: 0;
    line-height: 40px;
    min-width: 215px;
    cursor: pointer;
}
.left-nav li:nth-child(1){
    background: url("../img/cbms-img/topo-nav/health.png") no-repeat left;
}
.left-nav li:nth-child(2){
    background: url("../img/cbms-img/topo-nav/baseline.png") no-repeat left;
}
.left-nav li:nth-child(3){
    background: url("../img/cbms-img/topo-nav/threshold.png") no-repeat left;
}
.left-nav li:nth-child(4){
    background: url("../img/cbms-img/topo-nav/code.png") no-repeat left;
}
.left-nav li:nth-child(1).selected{
    background: url("../img/cbms-img/topo-nav/health_active.png") no-repeat left;
}
.left-nav li:nth-child(2).selected{
    background: url("../img/cbms-img/topo-nav/baseline_active.png") no-repeat left;
}
.left-nav li:nth-child(3).selected{
    background: url("../img/cbms-img/topo-nav/threshold_active.png") no-repeat left;
}
.left-nav li:nth-child(4).selected{
    background: url("../img/cbms-img/topo-nav/code_active.png") no-repeat left;
}
.right-bottom span,.right-top span{
    display: inline-block;
    width: 90px;
    text-align: center;
    font-size: 16px;
}
.right-bottom span{
    height: 50px;
}
.right-bottom>span>a{
    width: 100%;
    display: inline-block;
    color: #ffffff;
}
.right-bottom>span>a:hover{
    background: url("../img/cbms-img/gray-2.png") repeat;
    color: #ffffff;
}
.right-top .num:first-child{
    margin-left: 0;
}
.tab_div>.nav-pills>li>a{
    height: 50px;
    line-height: 50px;
}
.nav-pills>li.active>a{
    background: #337AB7;
}

.left-nav>li>a{
    padding: 0 35px;
}
.tab_div>.nav-stacked>li+li{
    margin-top: 0;
}
.right-top span{
    line-height: 25px;
    height: 25px;
}
ul.right-top li {
    display:inline-block;
    float: left;
}

 #nav_ul_sour li{
     background: url(../img/cbms-img/topo-nav/navTab.png) no-repeat;
     background-size: initial;
     background-position-y: -5px;
     margin-right: -10px;
     width: 158px;
     font-size: 18px;
     /* line-height: 43px; */
     text-align: center;
}
/*modefied by LiYinHuan on 2012-12-2��*****************************************************/



input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*background: #fff url(../img/cbms-img/gray-0.png) repeat;*/
    height: 18px;
    vertical-align: middle;
    width: 18px;
    margin: 0 5px 0;
    border: 1px solid #278C89 !important;
}
input[type="checkbox"]:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #2C9D97 url(../img/cbms-img/topo-nav/inputChecked.svg) 1px center;
    height: 18px;
    vertical-align: middle;
    width: 18px;
    margin: 0 5px 0;
    background-size: cover;
}
.md-table select{
    width: 35%;
    line-height: 25px;
    background-color: rgba(0,0,0,0);
    /*border-color:rgba(255,255,255,0.2) ;*/
}


.md-table form{
    width: 100%;
    height: 40px;
    padding: 0;
    display: inline-table;
}
.divider-right{
    /*position: relative;*/
    display: table-cell;
    color: #C8D5DD;
    /*width: 70%;*/
    /*height: 40px;*/
    /*left:20px;*/
}
.divider-right select{
    color: #fff;
}
.divider-left select{
    color: #fff;
}
.baseline_table .divider-right{
    min-width: 430px;
}
.thured_table .divider-right{
    max-width: 360px;
    display: table-cell;
}
.health_tanle .percent{

}
.health_table .time-scope{
    width: 40%;
    min-width: 200px;
}
.health_right{
    right: 7px;
    position: relative;
    /*min-width: 510px;*/
}
.divider-left{
    display: table-cell;
    color: #FFF;
    /*margin-left: 1.3%;*/
    /*width: 20%;*/
    min-width: 160px;
    text-align: left;
}
/*8******************************************************/
/*.divider{*/
    /*display: inline-block;*/
    /*width: 1px;*/
    /*border: 1px solid #c2c2c2;*/
    /*border-left: 0;*/
    /*top: 3px;*/
 /*height: 35px;*/
    /*position: relative;*/
    /*margin: 0 10px 0 0;*/
/*}*/
/********************************************************/
.percent{
    text-align: left;
    min-width: 200px;
    display: table-cell;
}
.md-table input[type=text]{
    height: 28px;
    background: rgb(9,31,45) ;
    vertical-align: middle;
    line-height: 25px;
    border: 1px solid #556D82;
    width: 60%;
    text-align: center;
}
/*#collections span.error_span::after{*/
    /*content: "不能有中文";*/
    /*color:red;*/
    /*position: absolute;*/
/*}*/
#sp_aggre_over{
    border: 1px solid #556D82;
    height: 28px;
    line-height: 28px;
    /*margin-left: 70px;*/
}
#health_resp_time,#health_down{
    max-width: 70px;
    display: inline;
}
.right-content .md-table tr td:first-child{
    width: 16%;
    min-width: 80px;
}
.time-scope{
    display: table-cell;
    position: relative;
    width: 50%;
    float: none;
    text-align: center;
    margin-left: 10px;
}
.md-table .divider-right .warn1{
    max-width: 350px;
    height: 25px;
}
.divider-right a{
    color: #ffffff;
}
.health-crit{
    width: 200px;
    font-weight: normal;
    display: table-cell;
}

/*����ҳ���Ҳ�������ʽ����*/

/*����������������--��ʼ*/
#charge-set{
    overflow: hidden;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}
#sour_ip_config{
    overflow: hidden;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}
.trade{
    display: inline-block;
    /*height: 40px;*/
    line-height: 40px;
    text-align: center;
    width: 100%;
    float: left;
    margin-left: 5%;
    /*min-width:360px;*/
}

/**********************************************************************/
.trade span:first-child{
    display: inline-block;
    height: 40px;
    width: 200px;
    position: relative;
    float: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/***********************************************************************/
.trade input[type=text],.trade select,.trade input[type="button"]{
    /*width: 50%;*/
    height: 30px;
    position: relative;
    /*float: right;*/
    /*top: 5px;*/
    width: 30%;
    text-align: center;

}
.trade input[type=text]{
    border: 1px solid black ;
    -webkit-border-radius: 2px ;
    -moz-border-radius: 2px ;
    border-radius: 2px;
    /*width: 15%;*/
}
#trade_target_port,#trade_old_port {
    line-height: 25px;
    width: 100%;
    text-align: center;
}
.trade select{
    border: 1px solid #000000;
    height: 30px;
    line-height: 20px;
    border-radius: 2px;
}
.trade #protocol_type{
    top: 5px;
}
#wran_config  .tab-content select{
    direction: rtl;
}
#trade_link_mode {
    width: 100%;
    border: 1px solid #2b4055 !important;
    border-radius: 2px;
    height: 28px;
    text-align-last: center;
}
.trade select option{
    font-size: 16px;
    color: white;
}
.trade .two_div .input_{
    width: 60%;
    outline:none;
    position: relative;
    border: none;
    z-index: 30;
    top: -1px;
    height: 28px;
    background:transparent !important;
    /*padding-right: 34px;*/
    background-clip: content-box !important;
}

.trade .two_div .select_{
    width: 75%;
    position: relative;
    height: 30px;
    top: -40px;
    left: -2px;
    z-index: 10;
    color:transparent;
}
.two_div{
    width: 40%;
    position: relative;
    left: 20px;
    height: 40px;
    display: inline-block;
    float: left;
    text-align: left;
}
.add_monitor_ip,.delete_monitor_ip{
    border: 1px solid black;
    display: inline-block;
    position: relative;
    top: 2.5px;
    color:#ffffff;
    text-decoration: none;
    height: 30px;
    line-height: 28px;
    width: 25px;
    border-radius: 2px;
    font-size: 20px;
}
.add_monitor_ip:hover,.delete_monitor_ip:hover{
    color: #ffffff;
    text-decoration: none;
}
.add_monitor_ip{
    background: #3dd9c4;
    color: #081928;
    /*background: linear-gradient(rgba(148,154,164,1),rgba(183,190,202,1));*/
}
.delete_monitor_ip{
    background: linear-gradient(rgba(148,154,164,1),rgba(183,190,202,1));
}
.custip span select{
    width: 80px;
    line-height: 30px;
}
.custip input{
    width: 150px !important;
    line-height: 20px !important;
}
.monitor_ip{
    width: 100%;
}
.monitor select{

    width:13%; float: none; line-height: 30px; top: 0;
}
.monitor_ip span:first-child{
    width:15%;
}
.monitor_ip .monitor_address{
    /*width: 60%;*/
    float: left;
    display: inline-block;
    text-align: left;
}
.monitor_address select{
    width: 100px;
}
.monitor_name input{
    width: 50% !important;
}
.monitor_ip .monitor_name{
    float: left;
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}
.admin_save{
    float: right;
    height: 30px;
    line-height: 16px;
    /* display: inline-block; */
    background: #3dd9c4;
    color: #081928;
}
.admin_save:hover{
    color: #ffffff;
    text-decoration: none;
}
/*����������������--����*/

/*Э��������������--��ʼ*/
.protocol{
    width: 60%;
    float: left;
    margin-left: 200px;
}
.protocol span:first-child{
    border-right:1px solid #c2c2c2;
    height: 35px;
    top: 2px;
    line-height: 35px;
}
.protocol select,.protocol span[class="protocol_text"]{
    float: left;
    position: relative;
    width: 35%;
    left: 4%;
    text-align: left;
}
/*.protocol .protocol_text{*/
    /*display: inline-block;*/
    /*float: left;*/
    /*position: relative;*/
    /*width: 35%;*/
    /*left: 4%;*/
/*}*/
.protocol-data1{
    display: inline-block;
    width: 30%;
    float: left;
    position: relative;
    text-align: left;
    left: 4%;
}
.protocol-icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 5px;
}
/*Э��������������--����*/


/*covery other style��*/

#nav_ul>li>a{
    line-height: 20px;
    width: 160px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    height: 50px;
}
.active{
    border: none;
}
.ls-list{
    top: 154px;
    background: #1E374D;
}
/*cover other style ��*/
.warn_info_table thead tr{
    background: #23354E !important;
}
.warn_info_table>thead>tr>th{
   color: #ffffff;
    text-align: center;
}
.sp_points {
    margin-left: 20%;
}
.sp_points_input{
    width:50%; right:0;
}
.sp_points_input2{
    width:50%; right:10%;margin-left: 70px;
}

.config_tips{
    color:#F0AD4E;
    font-size: 12px;

}
.config_alert_info {
    display: inline-block;
    margin-left: 40px;
}
.add_del_ip{
    color:#C90000;
    font-size: 12px;
}
#sp_point .percent {
    width: 80%;
}
@media screen and  (max-width: 1360px){
    .trade{
        margin-left: 10%;
        width: 90%;
    }
    .monitor_address select {
        width: 100px;
    }
    .trade span:first-child{
        width: 120px;
    }
    .two_div {
        width: 300px;
        float: left;
    }
    .sp_points {
        margin-left: 10%;
    }
    .sp_points_input2 {
        margin-left: 20px;
    }
    /*#sp_points .percent {*/
        /*width: 100%;*/
    /*}*/
    /*#sp_aggre_over, #sp_twotrade_over {*/
        /*width: 40%;*/
    /*}*/
}
@media screen and  (max-width: 1280px){
    .health_tanle tr:first-child{
        /*height: 80px;*/
    }
    .baseline_table .time-scope,.thured_table .time-scope,.time-scope{
        float: none;
        width: 170px;
    }
    .baseline_table .divider-right,.thured_table .divider-right,.divider-right{
        left: 10px;
        clear: both;
    }
    .monitor_address select {
        width: 70px;
    }
}
@media screen and  (max-width: 1120px){
    .nav.left-nav li{
        background-position-x: -100px;
        min-width: 100px;
    }
    .tab_content_2{
        /*margin-left: 120px;*/
        /*height: 80%;*/
        overflow-y: auto;
        overflow-x: hidden;
    }
    .left-nav{
        min-width: 100px;
    }
    .nav.left-nav li.selected{
          background-position-x: -100px;
      }
    .left-nav>li>a{
        padding: 0 15px;
    }
    .divider-left {
        /*width: 100%;*/
    }
    .config_tips{
        display: inline-block;
        margin-left: 160px;
        line-height: 18px;
        word-wrap: break-word;
        /*width: 130px;*/
    /*//word-break设置强行换行;normal 亚洲语言和非亚洲语言的文本规则，允许在字内换行*/
        word-break: normal;
    }
    .config_li>a>span{
        display: none;
    }
    /*#trade_config table tbody tr{*/
        /*height: 80px;*/
    /*}*/
    #trade_config .md-table tr:nth-child(3),#trade_config .md-table tr:nth-child(6),#trade_config .md-table tr:nth-child(7),#trade_config .md-table tr:nth-child(8){
        height: 80px;
    }
    .monitor_ip .monitor_name {
        /*margin-left: 120px;*/
        padding-left: 0;
        clear: both;
    }
    #name{
        /*margin-left: 80px;*/
        /*margin-right: -80px;*/
    }
    .trade{
        margin-left: 15%;
        width: 85%;
    }
    .map-add-text{
        display: none;
    }
    .monitor_address{
        margin-right: 20%;
    }
    .monitor_address select {
        width: 90px;
    }
    /*input[type="checkbox"]{*/
        /*margin: 0;*/
    /*}*/
    /*.percent{*/
        /*margin-left: 10px;*/
    /*}*/
    .disabled_span {
        width: 30px;
    }
    #admin{
        margin-left: 20%;
    }
}
@media screen and (max-width: 1400px) {
    .warn_tips{
        display: inline-block;
        line-height: 18px;
        word-wrap: break-word;
        /*width: 130px;*/
        /*//word-break设置强行换行;normal 亚洲语言和非亚洲语言的文本规则，允许在字内换行*/
        word-break: normal;
        width: auto;
    }
    .health_tanle .warn_tips{
        /*width: 85px;*/
        width: auto;

    }
}
@media screen and (max-width: 1583px) {
    .config-content{
        left:300px;
    }
    .right-bottom{
        left: 307px;
    }
}

.config_error{
    color: #D9534F;
}
.input_error_style{
    border: 1px solid #F1D031 !important;
}
.config_success{
    color: #5CB85C;
}
.warn_tips{
    position: relative;
    /*left: 78%;*/
    left:10px;
}
.error_input{
    border: 1px solid #E83427 !important;
    outline-color: transparent;
}
.trade_name.error_input{
    border: 1px solid #E83427 !important;
}
.submit_tips{
    position: absolute;
    right: 40%;
    width: 300px;
    height: 30px;
    line-height: 0;
    top: 5px;
    background: #344050;
    border: 1px solid #618ECA;
}
.submit_tips .close{
    color:#fff;
    top: -12px;
    opacity: .5;
}
.bpc-button-export {
}
.users-del-btn {
    /*display: none;*/
    padding-left: 50px;
    margin-top: 8px;
}
.users-del-btn button{
    margin-left: 49px;
    height:25px;
    line-height: 10px;
}
.suc_span{
    height:50px;
    line-height: 50px;
}
.hide_font{
    color: #777777 !important;
}
.show_font{
    color: #ffffff;
}
#save_level{
    right:52px;
}
#save_soure_ip{
    right: 52px;
}
/*#close_level:hover{*/
    /*background-color: #D9534F;*/
/*}*/
.error_node{
    box-shadow: 2px 2px 19px #D9534F;
}

/*模态框样式 ↓*/
.dialog-modal {
    position: relative;
    z-index: 6000;
    width: 777px;
    margin: 8% auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #13CFF5;
    height: 450px;
    box-sizing: content-box;
    background: #081929;
}

.dialog-modal-header {
    position: relative;
    width: 100%;
    height: 150px;
    line-height: 51px;
    text-shadow: 1px 2px 3px #555;
}

.dialog-modal-body {
    /* overflow-y: auto; */
    /* max-height: 300px; */
    opacity: .95;
    /* margin-top: 2px; */
    font-size: 13px;
    padding: 27px 25px;
    line-height: 66px;
    word-break: break-all;
    background-color: #06141F !important;
    background-clip: content-box;
}
.dialog-modal-body div{
    color:#ffffff;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border: none;
    margin-top: 2px;
    background: #7D8FA2;
}
.cbms-confirm,.cbms-cancel{
    width: 30px;
    height: 30px;
    background: #000;
}
.cbms-confirm{
    width: 30px;
    height: 30px;
    /*background: url(../img/cbms-img/ok.png)*/
}
.cbms-cancel{
    width: 60px;
    height: 30px;
    background: #219892;
    background-position: center;
    text-align: center;
    border-radius: 15px;
    line-height: 30px;
}
.bg-yellow {
    background-color: #e3a709
}

.dialog-modal.multi-step-dialog .working-msg {
    overflow-y: scroll;
    height: 240px;
    padding: 20px;
}

.dialog-modal.multi-step-dialog .error-msg, .dialog-modal.multi-step-dialog .finish-msg {
    margin-top: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,0%);
    position: absolute;
}

.grey-scrollbar .mCSB_scrollTools .mCSB_draggerRail {
    width: 100%;
    background: 0 0
}

.grey-scrollbar .mCSB_scrollTools .mCSB_dragger {
    height: 0;
    min-height: 20px
}

.grey-scrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 100%;
    background-color: #dbdbdb
}

.grey-scrollbar .mCSB_scrollTools .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
    background-color: #bcbcbc
}

.grey-scrollbar .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background-color: gray
}

.grey-scrollbar .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #ebebeb
}

.grey-scrollbar .mCSB_scrollTools .mCSB_draggerContainer:hover .mCSB_draggerRail, .grey-scrollbar .mCSB_scrollTools .mCSB_draggerRail:active {
    background-color: #d9d9d9
}

.grey-scrollbar .mCSB_scrollTools {
    width: 10px
}
.modal-backdrop.in {
    background: #4D4969;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#export_topo{
    float: right;
    margin: 12px 15px 12px 0;
}

/*2016-9-8新添加by zhanglin*/
#trade_form{
    width: 53%;
    float: left;
    /*height: 100%;*/
    min-width: 380px;
}
#trade_form_sour {
    width: 53%;
    float: left;
    height: 100%;
}
#trade_table{
    width: 43%;
    float: right;
    height: 100%;
}
#trade_table_sour {
    width: 46%;
    float: right;
    height: 100%;
}
.nav_col{
    display: table-cell;
    /* float: left; */
    width: 20%;
    text-align: left;
    height: 100%;
    line-height: 40px;
    min-width: 80px;
}
.nav_col2{
    display: table-cell;
    text-align: left;
}
.nav_col3{
    display: table-cell;
}
.nav_row{
    display: table;
    height: 40px;
    width: 100%;
}
.targetIp{
    width: 20%;
    display: table-cell;
    text-align: left;
    line-height: 40px;
}
#trade_traget_ipinput{
    line-height: 25px;
    width: 100%;
    text-align: center;
}
#trade_old_ipinput {
    line-height: 25px;
    width: 100%;
    text-align: center;
}
#targetList{
    display: table;
    /*border: 1px solid #2b4055;*/
    width:100%;
}
#targetHeader{
    display: table-row-group;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #2b4055;
}
#targetBody{
    display: table-row-group;
}
#sourceList{
    display: table;
    /*height: 150px;*/
    /*border: 1px solid #2b4055;*/
    width:100%;
}
#sourceHeader{
    display: table-row-group;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #2b4055;
}
#sourceBody{
    display: table-row-group;
}
.targetCol1:first-child{
    min-width: 80px;
}
.targetCol1{
    display: table-cell;
    line-height: 30px;
    width: 16.66%;
    white-space: nowrap;
}
.targetCol2{
    display: table-cell;
    width: 16.66%;
    white-space: nowrap;
    line-height: 30px;
}
.targetCol3{
    display: table-cell;
    white-space: nowrap;
    width: 16.66%;
}
span.nameip{
    width: 150px;
    display: table-cell;
    text-align: right;
}
#target_ipaddr select{
    height: 28px;
    border: 1px solid #2b4055 !important;
    border-radius: 2px;
}
#source_ipaddr select{
    height: 28px;
    border: 1px solid #2b4055 !important;
    border-radius: 2px;
}
.address{
    display: table-cell;
}
.add1{
    display: table-cell;
    padding-left: 2px;
}
@media (max-width: 1200px) {
    .add1{
        padding-left: 0;
    }
}
.add2{
    display: table-cell;
}
.add3{
    display: table-cell;
}
#prove1 {
    width: 100% ;
}
#city1 {
    width: 100% ;
}
#sub_city1 {
    width: 100% ;
}
#prove {
     width: 100% ;
}
#city {
    width: 100% ;
}
#sub_city {
    width: 100% ;
}
.monitorPro{
    width: 70px;
    text-align: center;
    display: table-cell;
    line-height: 40px;
    border: 1px solid #2b4055;
}
.monitorHeader{
    display: table-cell;
    width: 25% ;
    line-height:40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#monitor_list{
    border: 1px solid #2b4055;
    height: 380px;
}
#monitor_list_sour{
    height: 380px;
    border: 1px solid #2b4055;
    min-width: 235px;
}
#monitor_list .nav_row{
    border-bottom:  1px solid #2b4055;
}
#monitor_list_sour .nav_row {
    border-bottom: 1px solid #2b4055;
}
#trade_config{
    height:100%
}
#navStacked{
    height: 100%;
}
#collections{
    height: 100%;
}
#interface-set{
    height: 100%;
}
#add_monitor_ip{
    border:none !important;
    background:rgb(67,164,160) !important;
}
.operation{
    width: 100%;
}
.ipDelOpera{
    color: #de1414;
    width: 50%
}
.ipSaveOpera{
    color:#37e2db;
    width: 50%
}
.clientDot.disable{
    fill: red;
    pointer-events: none;
}
#tarNameIp{
    color:#777;
}
.deviceIpList{
    height: 200px;
}
.deviceIpListSour{
    height: 235px;
}
@media screen and (max-width: 1280px){
    /*#trade_form{*/
        /*width: 100%;*/
    /*}*/
    /*#trade_table{*/
        /*width: 100%;*/
    /*}*/
    .nav-content{
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .deviceIpList{
        height: 240px;
    }
    .deviceIpListSour{
        height: 280px;
    }
    #monitor_list{
        height: 500px;
    }
    #monitor_list_sour{
        height: 500px;
    }
    /*#trade_form_sour{*/
        /*width: 100%;*/
    /*}*/
    /*#trade_table_sour{*/
        /*width: 100%;*/
    /*}*/
    .right-top{
        left: 50px;
        top: 40px;
    }
    #nav_ul>li>a{
        width: 100%;
    }
    .trade{
        margin-left:10%;
    }
    .monitor_address{
        margin-right: 0px;
    }
    #target_ipaddr span:first-child{
        width: 80px;
    }
    .monitorOpera .nav_col:first-child{
        width: 80px;
    }
}
@media screen and (max-width: 980px)/*, screen and(max-height: 640px)*/ {
    #trade_form{
    width: 100%;
    }
    #trade_table{
    width: 100%;
    }
    #trade_form_sour{
    width: 100%;
    }
    #trade_table_sour{
    width: 100%;
    }
    /*.right-top {*/
        /*left: calc(50% - 300px);*/
        /*top: calc(50% - 150px - 50px);*/
    /*}*/
    ul.right-top li:not(.selected){
        width: 67px;
        /*min-width: 58px;*/
        /*max-width: 120px;*/
    }
    .right-top li:not(.selected){
        background: url("../img/cbms-img/topo-nav/navTabSml.png") no-repeat right ;
        /*background-size: initial;*/
        /*background-position-y: -10px;*/
    }
    .tab_div.tab_menu2 .right-top li:not(.selected).error_pill {
        background: url("../img/cbms-img/topo-nav/errorSml.png") no-repeat right ;
        background-size: initial;
        background-position-y: -10px;
    }
    .tab_div.tab_menu2 .right-top li:not(.selected).error_pill:hover{
        background: url("../img/cbms-img/topo-nav/errorSml_hover.png") no-repeat right ;
        background-size: initial;
        background-position-y: -10px;
    }
}
@media screen and (min-height: 640px) and (min-width: 800px){
    .right-top{
        top: calc(50% - 250px - 25px);
    }
    #monitor_list{
        height: 500px;
    }
    #monitor_list_sour{
        height: 400px;
    }
    .nav-content{
        padding-bottom: 0;
    }
    .deviceIpList {
        height: 200px;
    }
    #monitor_list {
        height: 380px;
    }
}