.ivu-date-picker {
  display: inline-block;
  width: 310px;
  line-height: normal;
  background-color: #0b3b50;
}

.ivu-date-picker-rel {
  position: relative;
}

.ivu-input-wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: middle;
  line-height: normal;
}

.ivu-input-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  color: #80848f;
  position: absolute;
  right: 0;
  z-index: 3;
}

.ivu-icon {
  display: inline-block;
  font-family: Ionicons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ivu-input-icon-normal+.ivu-input {
  font-size: 16px;
  padding-right: 32px;
}

.ivu-input {
  display: inline-block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding: 4px 7px;
  font-size: 14px;
  background-color: #071119;
  color: #c6d0e2;
  border: 1px solid #0cdad4;
  background-image: none;
  position: relative;
  cursor: text;
  -webkit-transition: border 0.2s ease-in-out, background 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #aaa;
  }
  &:-moz-placeholder {
    color: #aaa;
  }
  &::-moz-placeholder {
    color: #aaa;
  }
}

:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ivu-date-picker .ivu-select-dropdown {
  width: auto;
  padding: 0;
  overflow: visible;
  max-height: none;
}

.ivu-select-dropdown {
  overflow: auto;
  margin: 5px 0;
  padding: 5px 0;
  color: rgb(187, 214, 214);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 900;
  background-color: #0b3b50;
}

.ivu-date-picker-with-range {
  .ivu-picker-panel-body {
    min-width: 432px;
    float: left;
  }
  .ivu-picker-panel-content {
    float: left;
  }
}

.ivu-date-picker-header {
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-bottom: 1px solid #161b1d;
}

.ivu-picker-confirm {
  border-top: 1px solid #161b1d;
  text-align: right;
  padding: 6px 3px 3px;
  clear: both;
  >span {
    font-size: 14px;
    color: #bbd6d6;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding: 2px 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &.ivu-picker-confirm-time-disabled {
      color: #52585a;
      cursor: not-allowed;
    }
  }
  .ivu-btn-text {
    background-color: #0b3b50;
    float: left;
  }
  .ivu-btn-primary {
    background-color: transparent;
  }
  .ivu-btn-small {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
  }
  .ivu-btn-ghost{
    display: none;
  }
  >button {
    span {
      font-size: 14px;
    }
  }
}

.ivu-date-picker-cells {
  width: 196px;
  margin: 10px;
  color: rgb(187, 214, 214);
  white-space: normal;
  span.ivu-date-picker-cells-cell {
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  span.ivu-date-picker-cells-cell-disabled{
    color: #495454;
    cursor: not-allowed;
  }
  .ivu-date-picker-cells-cell-prev-month,
  .ivu-date-picker-cells-cell-next-month {
    color: #868686;
	em{
	  color: #868686;
	}
  }
  .ivu-date-picker-cells-cell-selected:hover em,
  .ivu-date-picker-cells-cell-selected em {
    // background: #2d8cf0;
    border: 2px solid #33d5c8;
    border-radius: 50%;
  }
  span {
    display: inline-block;
    width: 30px;
    height: 22px;
    em {
      display: inline-block;
      width: 30px;
      height: 22px;
      line-height: 19px;
      margin: 2px;
      font-style: normal;
      border-radius: 3px;
      text-align: center;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      border: 2px solid transparent;
    }
  }
}

.ivu-date-picker-cells-year {
  text-align: center;

  span {
    width: 45px !important;
    height: 28px !important;
    line-height: 28px !important;
    margin: 3px 0;

    em {
      width: 40px;
      height: 28px;
      line-height: 28px;
    }
  }
}

.ivu-date-picker-cells-month {
  text-align: center;

  span {
    width: 45px !important;
    height: 28px !important;
    line-height: 28px !important;
    margin: 3px 0;

    em {
      width: 40px;
      height: 28px;
      line-height: 28px;
    }
  }
}

.ivu-date-picker-cells-cell-today {
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #0cdad4;
    border-radius: 50%;
    border: 0;
    position: absolute;
    top: 3px;
    right: -2px;
    z-index: 999;
  }
}

.ivu-date-picker-cells-cell-today::before{
	display:none;
}

.ivu-picker-panel-icon-btn {
  display: inline-block;
  width: 20px;
  height: 24px;
  line-height: 26px;
  margin-top: 4px;
  text-align: center;
  cursor: pointer;
  color: #bbbec4;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  .ivu-picker-panel-icon-btn i {
    font-size: 14px;
  }
  .ivu-icon {
    display: inline-block;
    font-family: Ionicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.ivu-date-picker-prev-btn-arrow-double {
  margin-left: 10px;
}

.ivu-date-picker-prev-btn {
  float: left;
}

.ivu-date-picker-header-label {
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.ivu-date-picker-with-range .ivu-picker-panel-body {
  min-width: 432px;
}

.ivu-picker-panel-body {
  float: left;
}

.ivu-time-picker-with-range .ivu-picker-panel-content {
  float: left;
  position: relative;
  text-align: center;
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells,
.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-with-seconds {
  min-width: 216px;
}

.ivu-time-picker-cells-list {
  width: 56px;
  max-height: 144px;
  float: left;
  overflow: hidden;
  border-left: 1px solid #161b1d;
  position: relative;
}

.ivu-time-picker-with-range .ivu-time-picker-cells-list:first-child,
.ivu-time-picker-with-range .ivu-time-picker-cells-list:last-child {
  border-radius: 0;
}

.ivu-time-picker-cells-list:first-child {
  border-left: none;
  border-radius: 4px 0 0 4px;
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list {
  width: 108px;
  max-height: 216px;
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list:first-child,
.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list:last-child {
  border-radius: 0;
}

.ivu-time-picker-cells-list ul {
  width: 100%;
  margin: 0;
  padding: 0 0 120px;
  list-style: none;
}

.ivu-picker-panel-content .ivu-time-picker-cells-list ul {
  padding: 0 0 192px;
}

.ivu-time-picker-cells-cell-selected,
.ivu-time-picker-cells-cell-selected:hover {
  color: #000;
  background: #3acfc3;
}

.ivu-picker-panel-content .ivu-time-picker-cells-list ul li {
  padding: 0 0 0 46px;
}

.ivu-time-picker-cells-list ul li {
  width: 100%;
  height: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 0 16px;
  box-sizing: content-box;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  list-style: none;
  transition: background 0.2s ease-in-out;
}

.ivu-time-picker-with-range .ivu-picker-panel-content {
  background-color: #0b3b50;
}

.ivu-time-picker-with-range .ivu-picker-panel-content:after {
  content: '';
  display: block;
  width: 2px;
  position: absolute;
  top: 18px;
  bottom: 0;
  right: -2px;
  background-color: #072a39;
  z-index: 1;
}

.ivu-time-picker-with-range .ivu-picker-panel-content-right:after {
  right: auto;
  left: -2px;
}

.ivu-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 15px;
  font-size: 12px;
  border-radius: 4px;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
  color: #bbd6d6;
  outline: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.ivu-date-picker-with-range .ivu-picker-panel-content {
  float: left;
}

.ivu-time-picker-with-range .ivu-picker-panel-content {
  float: left;
  position: relative;
}

.ivu-time-picker-with-range .ivu-picker-panel-content-right {
  float: right;
}

.ivu-date-picker-cells-header span {
  display: inline-block;
  width: 28px;
  height: 24px;
  line-height: 19px;
  padding-right: 3px;
  text-align: right;
  color: rgb(187, 214, 214);
}

.ivu-picker-panel-body-wrapper.ivu-picker-panel-with-sidebar {
  padding-left: 92px;
}

.ivu-picker-panel-sidebar {
  width: 92px;
  float: left;
  margin-left: -92px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #f8f8f9;
  border-right: 1px solid #161b1d;
  border-radius: 4px 0 0 4px;
  overflow: auto;
}

.ivu-picker-panel-shortcut {
  padding: 6px 15px 7px 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ivu-picker-panel-shortcut:hover {
  background: #e9eaec;
}

.ivu-picker-panel-body {
  float: left;
}

.ivu-picker-confirm {
  border-top: 1px solid #161b1d;
  text-align: right;
  padding: 1px;
  clear: both;
  margin-top: 2px;
}

.ivu-picker-confirm>span {
  margin-top: 5px;
}

.ivu-picker-confirm {
  >span {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding: 2px 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

.ivu-picker-confirm>span.ivu-picker-confirm-time-disabled {
  color: #bbbec4;
  cursor: not-allowed;
}

.ivu-time-picker-cells {
  min-width: 112px;
}

.ivu-time-picker-cells-with-seconds {
  min-width: 168px;
}

.ivu-time-picker-cells-list {
  &:hover {
    overflow-y: auto;
  }
}

.ivu-time-picker-cells-list {
  &:first-child {
    border-left: none;
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}

.ivu-time-picker-cells-list ul {
  width: 100%;
  margin: 0;
  padding: 0 0 120px 0;
  list-style: none;
}

.ivu-time-picker-cells-cell:hover {
  background: #33d5c8;
  color: #000;
}

.ivu-time-picker-cells-cell-disabled {
  color: #bbbec4;
  cursor: not-allowed;
}

.ivu-time-picker-cells-cell-disabled:hover {
  color: #bbbec4;
  background-color: #fff;
  cursor: not-allowed;
}

.ivu-time-picker-with-range .ivu-picker-panel-body {
  min-width: 228px;
}

.ivu-time-picker-with-range .ivu-picker-panel-content {
  float: left;
  position: relative;
}

.ivu-time-picker-with-range .ivu-picker-panel-content-right {
  float: right;
}

.ivu-time-picker-with-range .ivu-picker-panel-content-right:after {
  right: auto;
  left: -2px;
}

.ivu-time-picker-with-range .ivu-time-picker-cells-list:first-child {
  border-radius: 0;
}

.ivu-time-picker-with-range .ivu-time-picker-cells-list:last-child {
  border-radius: 0;
}

.ivu-time-picker-with-range.ivu-time-picker-with-seconds .ivu-picker-panel-body {
  min-width: 340px;
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells {
  min-width: 216px;
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-with-seconds {
  min-width: 216px;
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-with-seconds .ivu-time-picker-cells-list {
  width: 72px;
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-with-seconds .ivu-time-picker-cells-list ul li {
  padding: 0 0 0 28px;
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list {
  width: 108px;
  max-height: 216px;
  &:first-child,
  &:last-child {
    border-radius: 0;
  }
}

.ivu-icon-ios-calendar-outline {
  width: 18px;
  height: 18px;
  background: url(../common/calendar.svg) no-repeat center;
  background-size: 100% 100%;
  top: 7px;
  right: 5px;
}

.ivu-icon-ios-close {
  width: 18px;
  height: 18px;
  background: url(../common/delete.svg) no-repeat center;
  background-size: 100% 100%;
  top: 7px;
  right: 5px;
}

.ivu-icon-ios-arrow-right,
.ivu-icon-ios-arrow-left {
  width: 12px;
  height: 12px;
}

.ivu-date-picker-prev-btn-arrow {
  i {
    background: url(../common/arrLeft.svg) no-repeat center;
    background-size: 100% 100%;
  }
}

.ivu-date-picker-prev-btn-arrow-double {
  i {
    background: url(../common/doubleArrLeft.svg) no-repeat center;
    background-size: 100% 100%;
  }
}

.ivu-date-picker-next-btn-arrow {
  margin-right: 5px;
  float: right;
  i {
    background: url(../common/arrRight.svg) no-repeat center;
    background-size: 100% 100%;
  }
}

.ivu-date-picker-next-btn-arrow-double {
  float: right;
  margin-right: 20px;
  i {
    background: url(../common/doubleArrRight.svg) no-repeat center;
    background-size: 100% 100%;
  }
}

.slide-up-enter-active {
  opacity: 0;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: ivuSlideUpIn;
  animation-name: ivuSlideUpIn;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes ivuSlideUpIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes ivuSlideUpIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
