$bgcolor: rgb(24, 65, 95);
$bordercolor: rgb(68, 110, 134);

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 14px;
  font-size: .875rem;
  word-wrap: break-word;
  opacity: 0;
}
.tooltip.show {
  opacity: .9;
}

.tooltip {
  // padding: 4px 8px;
  color: #eee;
  text-align: center;
  // background-color: $bgcolor;
  .tooltip-inner{
    background-color: $bgcolor;
    white-space: nowrap;
    width: auto;
    max-width: none;
    min-width: 20px;
    position: relative;
    left: calc(6px - 50%);
    border-radius: .25rem;
    border: solid 1px $bordercolor;
  }
}

.arrow-before, .arrow-after{
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 6px transparent solid;
}
.arrow-before{
  z-index: 1; 
}
.arrow-after{
  z-index: 0; 
}
/* 顶部提示 */
.tooltip-top .arrow-before{
  border-top-color: $bgcolor;
  top: 22px;
  left: 0;
}
.tooltip-top .arrow-after{
  border-top-color: $bordercolor;
  top: 23px;
  left: 0;
}
/* 底部提示 */
.tooltip-bottom .arrow-before{
  border-bottom-color: $bgcolor;
  top: -11px;
  left: 0;
}
.tooltip-bottom .arrow-after{
  border-bottom-color: $bordercolor;
  top: -12px;
  left: 0;
}
/* 左侧提示 */
.tooltip-left .arrow-before{
  border-left-color: $bgcolor;
  top: 15px;
  left: 85px;
}
.tooltip-left .arrow-after{
  border-left-color: $bordercolor;
  top: 15px;
  left: 86px;
}
/* 右侧侧提示 */
.tooltip-right .arrow-before{
  border-right-color: $bgcolor;
  top: 15px;
  left: -12px;
}
.tooltip-right .arrow-after{
  border-right-color: $bordercolor;
  top: 15px;
  left: -13px;
}
